[submodule "ext/godot-cpp"]
	path = ext/godot-cpp
	url = https://github.com/godotengine/godot-cpp
	branch = 4.2
[submodule "ext/sourcepp"]
	path = ext/sourcepp
	url = https://github.com/craftablescience/sourcepp
